@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* CSS Custom Styles */
:root {
  /* Colours */

  /* Cards */
  --clr-card-bg-01: #fdefe6;
  --clr-card-bg-02: #d6e5fb;
  --clr-card-bg-03: #ceebe9;
  --clr-card-bg-04: #e2f2b2;

  /* Text */
  --clr-sm-text: #999;
  --clr-heading: #0a1d37;

  --clr-primary: #0a1d37;
  --clr-bg-hero: #d6e5fb;

  /* Fonts */
  --fs-heading: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--clr-sm-text);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--fs-heading);
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}